# Created by .ignore support plugin (hsz.mobi)
.idea/
#.gitignore
*.iml

generatorSqlmap/
test/
target/

# TaoTaoMarket-web/target/
# taotaoMarket-common/target/
# taotaoMarket-manager/Taotao-manager-service/target/



